<div style="width: 200px; margin-left: 0px;">
	<div class="x-box-tl">
		<div class="x-box-tr">
			<div class="x-box-tc"></div>
		</div>
	</div>
	<div class="x-box-ml">
		<div class="x-box-mr">
			<div class="x-box-mc">
                <h3>Test</h3>
				<table width="170">
				  <tr>
				    <td><a href="#" style="width: 100%;">Ext 2.0 Samples</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">Ext Learning Center</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">FAQ</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">Tutorials</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">Ext Community Manual</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">Ext JS Blog</a></td>
				  </tr>
				  <tr>
				    <td><a href="#" style="width: 100%;">Ext JS Blog</a></td>
				  </tr>
				</table>
			</div>
		</div>
	</div>
	<div class="x-box-bl">
		<div class="x-box-br">
			<div class="x-box-bc"></div>
		</div>
	</div>
</div>
<div style="width: 200px; margin-left: 0px;">
    <div class="x-box-tl">
        <div class="x-box-tr">
            <div class="x-box-tc"></div>
        </div>
    </div>
    <div class="x-box-ml">
        <div class="x-box-mr">
            <div class="x-box-mc">
                <h3>Test</h3>
                <table width="170">
                  <tr>
                    <td><a href="#" style="width: 100%;">Ext 2.0 Samples</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">Ext Learning Center</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">FAQ</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">Tutorials</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">Ext Community Manual</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">Ext JS Blog</a></td>
                  </tr>
                  <tr>
                    <td><a href="#" style="width: 100%;">Ext JS Blog</a></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="x-box-bl">
        <div class="x-box-br">
            <div class="x-box-bc"></div>
        </div>
    </div>
</div>