<div style="width: 1005px; margin-left: 0px;">
    <div class="x-box-tl">
        <div class="x-box-tr">
            <div class="x-box-tc"></div>
        </div>
    </div>
    <div class="x-box-ml">
        <div class="x-box-mr">
            <div class="x-box-mc">
                <h3>选中的项的子标题</h3>
                <table width="170">
                  <tr>
                    <td><a href="#">Ext 2.0 Samples</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/22x22/actions/login.png"></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="x-box-bl">
        <div class="x-box-br">
            <div class="x-box-bc"></div>
        </div>
    </div>
</div>