@charset "utf-8";
/* reset */
*{padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/

.democode{width:400px;margin:30px auto 0 auto;line-height:24px;}
.democode h2{font-size:14px;color:#3366cc;height:28px;}
.agree{margin:40px auto;width:400px;font-size:16px;font-weight:800;color:#3366cc;}
.mainlist{padding:0px;}
.mainlist li{margin:0;height:25px;line-height:20px;font-size:12px;}
.mainlist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
.btnbox{text-align:center;height:30px;padding-top:10px;background:#05326D;}


#windownbg-alarm{display:none;position:absolute;width:100%;height:100%;background:#000;top:0;left:0;}
#windown-box-alarm{position:fixed;_position:absolute;border:5px solid #E9F3FD;background:#CAE6FA;text-align:left;filter:alpha(opacity=80);}
#windown-title-alarm{position:relative;height:25px;border:1px solid #A6C9E1;overflow:hidden;background:url(tipbg.png) 0 0 repeat-x;filter:alpha(opacity=90);}
#windown-title-alarm h2{position:relative;left:10px;top:5px;font-size:14px;color:#666;}
#windown-close-alarm{position:absolute;right:10px;top:8px;width:10px;height:16px;text-indent:-10em;overflow:hidden;background:url(tipbg.png) 100% -49px no-repeat;cursor:pointer;}
#windown-content-alarm iframe{display:block;}
#windown-content-alarm .loading{position:absolute;left:50%;top:50%;margin-left:-8px;margin-top:-8px;}

#windownbg{display:none;position:absolute;width:100%;height:100%;background:#000;top:0;left:0;}
#windown-box{position:fixed;_position:absolute;border:5px solid #E9F3FD;background:#CAE6FA;text-align:left;filter:alpha(opacity=70);}
#windown-title{position:relative;height:25px;border:1px solid #A6C9E1;overflow:hidden;background:url(tipbg.png) 0 0 repeat-x;filter:alpha(opacity=70);}
#windown-title h2{position:relative;left:10px;top:5px;font-size:14px;color:#666;}
#windown-close{position:absolute;right:10px;top:8px;width:10px;height:16px;text-indent:-10em;overflow:hidden;background:url(tipbg.png) 100% -49px no-repeat;cursor:pointer;}
#windown-content iframe{display:block;}
#windown-content .loading{position:absolute;left:50%;top:50%;margin-left:-8px;margin-top:-8px;}
