.rp_list {
	font-family:Verdana, Helvetica, sans-serif;
	width: 150px; /*定义宽度 可以修改*/
	position:absolute;
	left:0px;/*定义与左边的距离 可以修改*/
	top:0px;/*定义与顶部的距离 可以修改*/
	margin:0;
	padding:0;
	margin-top:1;
	margin-left: -195px;   
	z-index:999;
}
.rp_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.rp_list ul li{
	width: 150px;
	margin-bottom:5px;
	display:none;
}
.rp_list ul li div{
	display: block;
	line-height:15px;
	width: 150px;
	height: 32px;
	background:#ececec;
	border:1px solid gray;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.rp_list ul li div img{
	width:32px;
	border:none;
	float:left;
	margin:4px 10px 0px 4px;
	border:1px solid #111;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
}

span.rp_links a{
	padding: 2px 18px;
	font-size:10px;
	color: #000;
	text-decoration: none;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow:0 1px 3px #000;
	text-shadow: 0 -1px 1px #222;
	cursor: pointer;
	outline:none;
}
span.rp_links a:hover{
	background-color:#d8d8d8;
	color:#d8d8d8;
}
/*顶层*/
.bp_list {
	font-family:Verdana, Helvetica, sans-serif;
	width: 50px; /*定义宽度 可以修改*/
	position:absolute;
	left:450px;/*定义与左边的距离 可以修改*/
	top:0px;/*定义与顶部的距离 可以修改*/
	margin:0;
	padding:0;
	margin-top:-85px;
	margin-left: 0;   
	z-index:999;
}
.bp_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.bp_list ul li{
	width: 150px;
	margin-bottom:5px;
	display:none;
}
.bp_list ul li div{
	display: block;
	line-height:15px;
	width: 150px;
	height: 32px;
	background:#104E8B;
	border:1px solid #000;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.bp_list ul li div img{
	width:32px;
	border:none;
	float:left;
	margin:4px 10px 0px 4px;
	border:1px solid #111;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
}

span.bp_links a{
	padding: 2px 18px;
	font-size:10px;
	color: #000;
	text-decoration: none;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow:0 1px 3px #000;
	text-shadow: 0 -1px 1px #222;
	cursor: pointer;
	outline:none;
}
span.bp_links a:hover{
	background-color:#d8d8d8;
	color:#d8d8d8;
}