.simple-contextmenu {
	-webkit-user-select: none;
	background: url(../images/menu_bg.gif) repeat-y;
	display: none;
	font-size: 12px;
	position: absolute;
	left: 100px;
	top: 100px;
	min-width: 100px;
	width: 100px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f7f3f7;
	border: 2px solid #f7f7f7;
	border-radius: 3px;
	font-family: "ו", arial, helvetica, sans-serif;
}
.simple-contextmenu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.simple-contextmenu li {
	margin: 0px;
	padding: 1px;
	background: url(../images/item_bg.gif) repeat-y;
	background-repeat: no-repeat;
}
.simple-contextmenu .m-split {
	height: 2px;
	background: url(../images/splitLine_bg.gif) center repeat-x;
	margin: 0 2px;
}
.menuBarContainerDIV {
	height: 22px;
	width: 120px;
	overflow: hidden;
	margin-top: 1px;	
}
.menuBarContainerDIV a:link, .menuBarContainerDIV a:visited, .menuBarContainerDIV a:active {
	color: black;
	text-decoration: none;
}
.menuBarContainerDIV a:hover {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	text-decoration: none;
	cursor:default;
	color:#00F;
}
.menuBarIconDIV {
	float: left;
	height: 18px;
	width: 20px;
	margin-top: 2px;
	margin-left: 1px;
}
.menuBarIconDIV img {
	height: 16px;
	width: 16px;
	margin-top: 1px;
	margin-left: 2px;
}
.menuBarContentDIV {
	float: left;
	height: 18px;
	line-height: 18px;
	margin-top: 1px;
	padding-top:2px;
	margin-left: 8px;	 
}
