@charset "utf-8";
/* CSS Document */
html, body, form {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	margin: 0px;
	height: 100%;
}
.mainContainner {
	margin: auto;
	text-align: center;
	width: 800px;
	height: 600px;
	padding-top: 10px;
	background-color: #E7E7E7;
}
.title {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #06F;
	padding-bottom: 10px;
}
.loginContainner {
	magrin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	border: 1px solid #999;
	background-color: #CCC;
}
.server {
	width: 380px;
	text-align: left;
	padding-left: 10px;
	float: left;
}
.server input {
	width: 280px;
	padding-left: 5px;
}
.port {
	width: 120px;
	float: left;
}
.port input {
	width: 50px;
	padding-left: 5px;
}
.terminalType {
	width: 180px;
	float: left;
}
.login {
	width: 80px;
	float: left;
}
.connectInfo {
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding-left: 20px;
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #6CF;
}
.printArea {
	margin-top: 5px;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-color: #999;
}
.printArea textarea {
	width: 100%;
	height: 450px;
	padding-top: 5px;
	padding-left: 3px;
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
}
.commandContanner {
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	background-color: #6CF;
}
.command {
	width: 650px;
	float: left;
	text-align: left;
}
.command input {
	width: 550px;
}
.sendCommand {
	float: right;
	width: 100px;
}
